.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__input{
    margin:10px;
    width: 250px;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #234790;
    border-radius: 5px;
    color: #234790;
    font-size: 15px;
    font-weight: normal;
}
